* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(360deg, #ce2001, #fc3d5d);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #ce0101e3;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.row:hover {
    background: #f1f2f3;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 700;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(135deg, #fc3d5d, #e73819 );
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover {
    background: linear-gradient(135deg, #f7506c, #f55033 );
    color: #edeef0;
}

ul li {
    list-style: none;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 8px 12px 20px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li.checked {
    color: rgb(250, 40, 40);
    text-decoration: line-through;
}

#error-text {
    color: rgb(250, 40, 40);
    font-style: italic;
    font-size: 14px;
    padding-left: 15px;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background: #edeef0;
    border-radius: 50%;
    color: rgb(240, 68, 68);
}